build
.idea
cmake-build-debug
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
.Rhistory
*.sql

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml
.cache/

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
